<div class="container-fluid">
  <h3 class="mt-4">Lesson Entry</h3>
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home/dashboard']">Dashboard</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/home/courses/course', course.id]">Course Info</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create new lesson</li>
    </ol>
  </nav>
  <div class="container mt-5">
    <form [formGroup]="lessonFormGroup">
        <div formArrayName="lessons" class="wrapper pt-2 mb-3">
          <accordion [isAnimated]="true">
            <accordion-group    [@fade-in] *ngFor="let lesson of this.lessonFormGroup.controls.lessons.value;
                            let lessonIndex = index; trackBy: trackByFn" class="form-header" [formGroupName]="lessonIndex">
              <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                <div class="pull-left float-left"><h5>({{lessonIndex + 1}}) Lesson Details - {{lesson.title}}</h5></div>
                <span class=" float-right pull-right"><div *ngIf="lessonIndex > 0" class="actions ">
                  <a name="" id="" class="btn btn-danger text-light" (click)="removeLesson(lessonIndex)" role="button">Remove</a>
                </div></span>
              </button>
              <div class="form-group row">
                <div class="col-md-2 text-right">
                  <label for="">Title</label>
                  <span class="badge badge-danger ml-3 " data-toggle="tooltip" data-placement="bottom"
                    title="This field is required required">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  </span>
                  <span class="badge badge-info ml-3">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                  </span>
                </div>

                <div class="col-md-10">
                  <input type="text" class="form-control col-lg-12" formControlName="title" id="title" aria-describedby="titlehelp"
                    placeholder="Ex. C# Overview">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2 text-right">
                  <label for="">Sub-title</label>
                  <span class="badge badge-danger ml-3">
                    <i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                      title="* Is required"></i>
                  </span>
                  <span class="badge badge-info ml-3">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                  </span>
                </div>

                <div class="col-md-10">
                  <input type="text" class="form-control col-lg-12" formControlName="subTitle" id="subTitle"
                    aria-describedby="subTitlehelp" placeholder="Ex. Sample Course, ETC">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2 text-right">
                  <label for="">Duration</label>
                  <span class="badge badge-danger ml-3">
                    <i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                      title="* Is required"></i>
                  </span>
                  <span class="badge badge-info ml-3">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                  </span>
                </div>

                <div class="col-md-10">
                  <input type="number" class="form-control col-md-4" formControlName="duration" id="duration"
                    aria-describedby="coursefullnamehelp" placeholder="10, 20, 30 (Format is in minutes)">
                </div>
              </div>

              <div class="row  mt-5 ">
                <div class="col-md-2 text-left">
                  <h4>Topics</h4>
                </div>
                <div class="col-md-10 text-right">
                  <button type="button" (click)="addTopic(lessonIndex)" class="btn btn-default text-primary">
                    <strong>Add Topic</strong>
                    <i class="fa fa-plus ml-1" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <tabset formArrayName="topics" class="wrapper mb-4">
                <tab [@fade-in] class="group-inputs" *ngFor="let topic of topicsControlArray(lessonIndex).value;
                                                  let topicIndex = index; trackBy:trackByFn" [formGroupName]="topicIndex">

                  <ng-template tabHeading  class=" form-group d-flex flex-row justify-content-between text-center">
                    <div class="header ">
                      <p class="">Topic: {{topicIndex + 1 }} {{topic.title}} </p>
                    </div>
                  </ng-template>
                  <div class="form-group row justify-content-end">
                      <button name="" id="" class="btn btn-warning mt-2 mr-3 text-light" (click)="deleteTopic(lessonIndex,topicIndex)" role="button">
                        Remove Topic
                      </button>
                  </div>
                  <div class="form-group row">

                    <div class="col-md-2 text-right">
                      <label for="">Title</label>
                      <span class="badge badge-danger ml-3">
                        <i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                          title="* Is required"></i>
                      </span>
                      <span class="badge badge-info ml-3">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="col-md-10">
                      <input type="text" class="form-control col-md-12" formControlName="title" id="title"
                        aria-describedby="coursefullnamehelp" placeholder="Topic Title">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-2 text-right">
                      <label for="">Content</label>
                      <span class="badge badge-danger ml-3">
                        <i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                          title="* Is required"></i>
                      </span>
                      <span class="badge badge-info ml-3">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="col-md-10">
                      <ckeditor [editor]="editor" formControlName="details"></ckeditor>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-2 text-right">
                      <label for="">Example</label>
                      <span class="badge badge-danger ml-3">
                        <i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                          title="* Is required"></i>
                      </span>
                      <span class="badge badge-info ml-3">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="col-md-10">
                      <ckeditor [editor]="editor" formControlName="sample"></ckeditor>

                    </div>
                  </div>
                  <div formGroupName="exercise" class="form-group row">
                    <div class="col-md-2 text-right">
                      <label for="">Exercise</label>
                      <span class="badge badge-danger ml-3">
                        <i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                          title="* Is required"></i>
                      </span>
                      <span class="badge badge-info ml-3">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="col-md-10">
                      <div class="col-md-12 p-0 mb-3">
                        <label for="exerciseDetails">Instructions</label>
                        <textarea class="form-control " formControlName="instructions" placeholder="instructions" name="" id=""
                          rows="5"> </textarea>
                      </div>
                      <div class=" d-flex justify-content-center">
                        <div class="entry-container col-md-6 m-1 p-0">
                          <div class="d-flex flex-row justify-content-between">
                              <label for="exerciseDetails">Exercise Basis</label>
                              <div class="action pr-1">
                                <a name="" id="" class="btn text-primary p-0"  role="button" (click)="copyExerciseBasisToAnswerable(lessonIndex, topicIndex)">
                                  <i class="fa fa-arrow-circle-o-right fa-2x" data-toggle="tooltip" data-placement="top" title="Copy Exercise Basis" aria-hidden="true"></i></a>
                              </div>
                          </div>
                          <ngx-monaco-editor [options]="editorOptions"  formControlName="exerciseBasis"></ngx-monaco-editor>
                        </div>
                        <div class="entry-container col-md-6 m-1 p-0">
                          <div class="d-flex flex-row justify-content-between">
                            <label for="exerciseDetails">Exercise (Answerable)</label>
                            <div class="action pr-1">
                              <a name="" id="" class="btn text-danger p-0" role="button"><i class="fa fa-underline fa-2x" aria-hidden="true"></i></a>
                            </div>
                          </div>
                          <ngx-monaco-editor (ondblclick)="getText($event)" [options]="editorOptions" formControlName="exerciseDetails" (onInit)="initEditor($event)"></ngx-monaco-editor>
                        </div>
                      </div>
                    </div>
                  </div>
                </tab>
              </tabset>
            </accordion-group>
          </accordion>
        </div>

      <div class=" row mb-4 d-flex justify-content-center">
        <button type="button" (click)="addLesson()" class="btn btn-info">Add Lesson
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <a name="" id="" class="btn btn-warning text-light ml-2" role="button">Preview</a>
        <button type="button" (click)="saveCourse()" class=" ml-2  btn btn-primary">Save Changes
          <i class="fa fa-save" aria-hidden="true"></i>
        </button>
      </div>
    </form>
  </div>
</div>
