<div class="container-fluid">
  <h3 class="mt-4">Lesson Entry</h3>
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home/dashboard']">Dashboard</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/home/courses/course', course.id]">Course Info</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create new lesson</li>
    </ol>
  </nav>
  <div class="container mt-5">
    <div class="row  mt-5 mb-2">
      <div class="col-md-2 text-right">
        <h4>Lesson Details</h4>
      </div>
    </div>
    <form [formGroup]="lessonFormGroup">
      <div formArrayName="lessons" class="wrapper">
        <div *ngFor="let lesson of this.lessonFormGroup.controls.lessons.value;
        let lessonIndex = index; trackBy: trackByFn"
        class="form-header" [formGroupName]="lessonIndex">
          <div class="form-group row">
            <div class="col-md-2 text-right">
              <label for="">Title</label>
              <span class="badge badge-danger ml-3 "  data-toggle="tooltip" data-placement="bottom"
                  title="This field is required required">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              </span>
              <span class="badge badge-info ml-3">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </span>
            </div>

            <div class="col-md-10">
              <input type="text" class="form-control col-lg-12" formControlName="title" id="title" aria-describedby="titlehelp"
                placeholder="Ex. C# Overview">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-2 text-right">
              <label for="">Sub-title</label>
              <span class="badge badge-danger ml-3">
                <i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                  title="* Is required"></i>
              </span>
              <span class="badge badge-info ml-3">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </span>
            </div>

            <div class="col-md-10">
              <input type="text" class="form-control col-lg-12" formControlName="subTitle" id="subTitle"
                aria-describedby="subTitlehelp" placeholder="Ex. Sample Course, ETC">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-2 text-right">
              <label for="">Duration</label>
              <span class="badge badge-danger ml-3">
                <i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                  title="* Is required"></i>
              </span>
              <span class="badge badge-info ml-3">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </span>
            </div>

            <div class="col-md-10">
              <input type="number" class="form-control col-md-4" formControlName="duration" id="duration"
                aria-describedby="coursefullnamehelp" placeholder="10, 20, 30 (Format is in minutes)">
            </div>
          </div>

          <div class="row  mt-5 ">
            <div class="col-md-2 text-right">
              <h4>Topics</h4>
            </div>
          </div>
          <div formArrayName="topics" class="wrapper mb-4">
            <div class="group-inputs" *ngFor="let topic of topicsControlArray(lessonIndex).value;
                              let topicIndex = index; trackBy:trackByFn" [formGroupName]="topicIndex">

              <div class=" form-group row text-right">
                <div class="col-md-2">
                  <h3>Topic No. {{topicIndex + 1 }}</h3>
                </div>
                <div class="col-md-10 text-right">
                  <a name="" id="" class="btn" (click)="deleteTopic(lessonIndex,topicIndex)" role="button">
                    <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2 text-right">
                  <label for="">Title</label>
                  <span class="badge badge-danger ml-3">
                    <i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                      title="* Is required"></i>
                  </span>
                  <span class="badge badge-info ml-3">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="col-md-10">
                  <input type="text" class="form-control col-md-12" formControlName="title" id="title"
                    aria-describedby="coursefullnamehelp" placeholder="Topic Title">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2 text-right">
                  <label for="">Content</label>
                  <span class="badge badge-danger ml-3">
                    <i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                      title="* Is required"></i>
                  </span>
                  <span class="badge badge-info ml-3">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="col-md-10">
                  <textarea class="form-control col-md-12" formControlName="details" placeholder="Topic Content" name="" id=""
                    rows="10"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2 text-right">
                  <label for="">Example</label>
                  <span class="badge badge-danger ml-3">
                    <i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                      title="* Is required"></i>
                  </span>
                  <span class="badge badge-info ml-3">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="col-md-10">
                  <textarea class="form-control col-md-12" formControlName="sample" placeholder="Sample Content" name="" id=""
                    rows="10"> </textarea>
                </div>
              </div>
              <div formGroupName="exercise" class="form-group row">
                <div class="col-md-2 text-right">
                  <label for="">Exercise</label>
                  <span class="badge badge-danger ml-3">
                    <i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                      title="* Is required"></i>
                  </span>
                  <span class="badge badge-info ml-3">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="col-md-10">
                  <div class=" d-flex justify-content-center">
                      <div class="entry-container col m-1 p-0">
                        <label for="exerciseDetails">Exercise (Answerable)</label>
                        <textarea class="form-control " formControlName="exerciseDetails" placeholder="Sample Content" name="" id=""
                          rows="10"> </textarea>
                      </div>
                      <div class="entry-container col m-1 p-0">
                        <label for="exerciseDetails">Exercise Basis</label>
                        <textarea class="form-control " formControlName="exerciseBasis" placeholder="Sample Content" name="" id=""
                          rows="10"> </textarea>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row mb-4">
              <div class="col-md-3">
              </div>
              <div class="col-md-9 text-right">
                <button type="button" (click)="addTopic(lessonIndex)" class="btn btn-default text-primary">
                  <strong>Add Topic</strong>
                  <i class="fa fa-plus ml-1" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class=" row mb-4 d-flex justify-content-center">
        <button type="button" (click)="addLesson()" class="btn btn-info">Add Lesson
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <button type="button" (click)="saveCourse()" class=" ml-2  btn btn-primary">Save Changes
          <i class="fa fa-save" aria-hidden="true"></i>
        </button>
      </div>

      <pre>{{lessonFormGroup.value | json}}</pre>
    </form>
  </div>
</div>
