        <div (click)="runClick()" class="card btn  m-1 text-white bg-info " style="max-width: 17.5rem; min-width: 17.5rem; min-height: 150px;">
          <div class="card-header text-center"><strong>{{courseCardModel.courseShortName}}:{{courseCardModel.courseCode}}</strong></div>
          <div class="card-body">
            <h5 class="card-title">{{courseCardModel.courseName}}</h5>
            <p class="card-text">
              {{courseCardModel.courseSummary}}
            </p>
          </div>
        </div>
