<a name="" id="" class="btn m-1 p-0" href="#" role="button">
<div class="card  shadow-sm rounded p-2">
  <div class="row p-0 m-1 text-left">
        <div class="col-sm-1 p-0 d-flex justify-content-center align-items-center">
              <img src="../../../../assets/blackboard.svg" class="rounded mx-auto d-block" alt="">
        </div>
        <div class="col-sm-10 p-0 pl-3">
          <div class="card-body p-0">
            <small class="text-muted">BSB61015 * 06 APR,2020 - 28 MAR, 2021</small>
            <h5 class="card-title">Strong Programming Features of C#</h5>
          </div>
        </div>
        <div class="col-sm-1  p-0 d-flex justify-content-center align-items-center">
            <i class="fa fa-arrow-right main-text-color" aria-hidden="true"></i>
        </div>
  </div>
</div>
</a>
