<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-8">
      <div [@jello] class="card-list-container">
        <app-dashboard-card-item ></app-dashboard-card-item>
        <app-dashboard-card-item></app-dashboard-card-item>
        <app-dashboard-card-item ></app-dashboard-card-item>
        <div class="row pl-5 justify-content-right text-right">
          <a href="#">See More</a>
        </div>
      </div>
      <div [@fade-in] class="pogress-tab-container">
        <app-dashboard-student-progress-tab ></app-dashboard-student-progress-tab>
      </div>
    </div>
    <div class="col-md-4">
          <div [@fade-in] class="announcement-area">
    <app-dashboard-anouncement ></app-dashboard-anouncement>
          </div>
    </div>
  </div>
</div>
