<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 text-align-right">
        <div class="card mb-2">
          <img class="card-img-top" src="holder.js/100x180/" alt="">
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
          </div>
        </div>
        <div class="card mb-2">
          <img class="card-img-top" src="holder.js/100x180/" alt="">
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
          </div>
        </div>
        <div class="row pl-5 justify-content-right text-right">
          <a href="#">See More</a>
        </div>

        <ul class="nav nav-tabs mt-5">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
