<ul class="nav nav-tabs mt-5">
  <li class="nav-item">
    <a class="nav-link " href="#">Learning To Do
      <span class="badge badge-pill badge-secondary">0</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Assessment To Do
      <span class="badge badge-pill badge-danger">0</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Recent Result
      <span class="badge badge-pill badge-success">0</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Student Resources</a>
  </li>
</ul>
<div class="tab-body mt-2 d-flex justify-content-center align-items-center">
  <div class="tab-content text-center">
        <i class="fa fa-thumbs-up mb-2" aria-hidden="true"></i>
        <h5>Good News, You all up to date.</h5>
        <small class="text-muted">
          Any new assessments to do will appear here.
          Access your result via the course view.
        </small>
  </div>
</div>
