/* You can add global styles to this file, and also import other style files */

@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';


html, body { height: 100vh; background-color: #ECF0F5; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}


.main-bg {
  background-color: #ECF0F5;
}

.main-accent {
  background-color: white;
}

.main-text-color {
  color: #53616D;
}
