
<div class="anouncement-body">
  <div class="anouncement-header">
    <div class="row">
      <div class="pl-3">
        <i class="fa fa-bullhorn main-text-color  fa-2x mb-2" aria-hidden="true"></i>

      </div>
      <div class="ml-3 m-0 pt-1"> <p class="m-0 main-text-color ">Anouncement</p>
      </div>
    </div>
  </div>
  <div class="mt-2 anouncement-content-body d-flex justify-content-center align-items-center">
        <div class="anouncement-content text-center">
          <i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
          <p class="lead mb-1">
              No anouncement yet.
          </p>
          <small class="text-muted">
              When posted, they will apear here and agaisnt their relevant course.
          </small>
        </div>

  </div>
</div>

